<div class= "row navigationbar">
		<div class= "col">
			<nav class="navbar navbar-expand-md">
			  <div class="container-fluid">
			    <a class="navbar-brand" href="/"><span id= "site_name">CinchWorks<span></a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#homenav" aria-controls="homenav" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="homenav">
			      <ul class="navbar-nav me-auto mb-2 mb-lg-0 offset-0 offset-sm-3 offset-lg-5 offset-xl-7 offset-xxl-9">
			        <li class="nav-item">
			          <a class="nav-link" href="/">Home</a>
			        </li>
			         <li class="nav-item">
			          <a class="nav-link" href="/signup/">Sign Up</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="site_faq.html">FAQ</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="site_contact.html">Contact Us</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
		</div>
	</div>