{% extends 'base_home.html' %}
{% block home_internal_styles %}
<style type= "text/css">
	.innercontainer{
		background-image: url(" {{url_for('static', filename='images/carpenter3.jpg')}} "); 
		background-size: 100% 100%;
	}
	.overlay{ background-color:rgba(0,0,0,0.5) }
</style>
{% endblock home_internal_styles %}
{% block home_inside_content %}
<div class= "innercontainer">
<div class= "overlay">
<div class= "container-md">

	<div class= "row pt-2 ms-md-5">
		<div class= "col offset-sm-2 offset-lg-6 offset-xxl-7">
			<form class= "row row-cols-md-auto" action= "user_home.html" id= "login_form">
				<div class= "col-12 gx-2 gy-2 gy-md-0">
					<input type= "text" name= "username" class= "form-control" placeholder="Username" id= "login_username">
				</div>
				<div class= "col-12 gx-2 gy-2 gy-md-0">
					<input type= "password" name= "password" class= "form-control" placeholder="Password" id= "login_password">
				</div>
				<div class= "col-12 gx-2 gy-2 gy-md-0">
					<button class= "btn brownbutton" type= "button" id= "login_button">Login</button>
				</div>
				<div class= "col-12 gx-2 gy-2 gy-md-0">
					<input type= "radio" name= "user_type" class= "" id= "sel_customer">
					<label class= "form-check-label text-light me-3" for= "sel_customer">Customer</label>
					<input type= "radio" name= "user_type" class= "" id= "sel_vendor">
					<label class= "form-check-label text-light" for= "sel_vendor">Vendor</label>
				</div>
				

			</form>
		</div>
	</div>

	<!-- This contains the basic search field to find vendors. Will also contain navigation for the most common/popular vendor categories-->
	<div class= "row homesearch">
		<div class= "col mb-5">
			<form>
				<div class= "row">
					<div class= "col-sm-8 offset-0 offset-sm-2 mb-2">
						<input type= "text" class= "form-control rounded-pill" name= "vendor_search" placeholder= "Find Workers or Services" id= "home_searchinput">
					</div>
				</div>
				<div class= "row">
					<div class= "col">
						<button class= "btn homebutton col-md-2 offset-5">Search</button>
					</div>
				</div>	
			</form>
		</div>	
	</div>


	<!-- Description -->
	<div class= "row" id= "home_sitedescription">
		<div class= "col-sm-9 offset-sm-2" id= "home_sitedescriptioncol" >
			<p>CinchWorks helps connect you with thousands of vendors and lets you manage manage your schedule with them.</p>
			<p>With CinchWorks, you work and find work your way, all on your own schedule.</p>
		</div>

		<!-- This contains the login form -->
		
	</div>

</div>
</div>
</div>
{% endblock home_inside_content %}
