<div class= "modal" id= "adminbookinginfo_modal">
	<div class= "modal-dialog modal-lg">
		<div class= "modal-content">
			<div class= "modal-header">
				<h3 class= "text-center">Booking Information</h3>
				<button class= "btn-close" data-bs-dismiss= "modal"></button>
			</div>
			<div class= "modal-body">
				<div class= "row">
					<div class= "col">
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Booking ID</b></p>
							<p id= "adbkid"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Vendor</b></p>
							<p id= "adbkvenname"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Customer</b></p>
							<p id= "adbkcusname"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Service Booked</b></p>
							<p id= "adbksername"></p>
						</div>
						
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Service Location</b></p>
							<p id= "adbkserlocate"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Date/Time of Booking</b></p>
							<p id= "adbkdt"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Booked Date</b></p>
							<p id= "adbkbdate"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Booked Time</b></p>
							<p id= "adbkbtime"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Service Description(short)</b></p>
							<p id= "adbksershort"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Service Description(long)</b></p>
							<p id= "adbkserlong"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Status</b></p>
							<p id= "adbkstatus"></p>
						</div>
					</div>
				</div>
			<div class= "modal-footer">
				<button data-bs-dismiss= "modal" class= "btn btn-danger">close</button>
			</div>
		</div>
	</div>
</div>