{% extends 'customer/cbase.html' %}

{% block title %}
Home | {{ c.cus_fname }} {{ c.cus_lname }}
{% endblock title %}

{% block internal_styles %}
<style type= "text/css">
div{ border: 0px solid red; }
.catsearch{ color:black; }
</style>
{% endblock internal_styles %}

{% block body %}
	<!-- This div will contain a welcome message for the user as well as their picture -->
	<div class= "row py-4 welcome align-items-center"  style= "position:relative;">
		<div class= "col-4 col-sm-3 offset-xxl-1">
			{% if c.cus_profilepic == None %}
			<img src= "{{url_for('static', filename='images/profile_pic2.jpg')}}" alt= "profile_picture" class= "profile_pic" id= "customer_profilepic">
			{% else %}
			<img src= "{{url_for('static', filename='uploads/images/'+ c.cus_profilepic)}}" alt= "profile_picture" class= "profile_pic" id= "customer_profilepic">
			{% endif %}
			
		</div>
		<div class= "col">
			<h1 class= "">Welcome, {{ c.cus_fname }} {{ c.cus_lname }}</h1>
		</div>

		<div class="col-6 col-md-3" style= "position:absolute; bottom:1px; right: 0px; display:inline-block;">
			<button type= "button" class="btn btn-sm" id= "hpchangepic">Change Picture</button>
			<div id= "hpchangesuccess" class= "p-0"></div>
			<div id= "hpchangesuccess"></div>
			<form action= "" method= "post" enctype="multipart/form-data" style= "background-color: white;" id= "hppic_change">
				<div class= "mb-2">
					<label>Choose profile picture</label>
					<input type= "file" name= "profilepic" id= "chpprofile" class= "form-control" placeholder="Choose profile picture">
				</div>
				<div>
					<button class= "btn btn-danger" id= "hpcancelchange" type= "button">Cancel</button>
					<button class= "btn brownbutton" id= "hpsavechange" type= "button">Save Changes</button>
				</div>
				<input type= "hidden" name= "csrf_token" id= "csrf_token" value= "{{csrf_token()}}">
				</form>
			</div>
	</div>

	<!-- This div will contain the calender for the next booked days, idea is that it will be dynamic and only days booked will be shown for both vendor and user home page. User-Vendor search page will carry full next 5 days to ensure that they can see the full bookings of the specified vendor -->
	<div class= "row mt-3">
		<div class= "col">
			<h5 class= "text-center my-2">Your Next 5 Scheduled Dates</h5>
			<div class= "row justify-content-center">
				{% if cbd != [] %}
				{% for i in cbd %}
				<div class= "col-5 col-md-3 col-xl-2 m-2 p-0 calen_day rounded" id= "cal_1">
					<p class= "text-center"><b>{{ i[7].strftime('%a %b %d, %Y') }}</b></p>
					{% for j in cbst %}
					{% if i[7] == j.calender_date %}
					<div class= " row rounded mx-1 mb-3" style= "background-color: #F8F7FF;">
						<div class= "col hselector" onclick="show_info({{j.booking_id}});">
							<p style= "border-bottom: 1px solid grey;">{{ j.calender_time.strftime('%H:%M') }} - {{ j.calender_endtime.strftime('%H:%M') }}</p>
							<p style= "border-bottom: 1px solid grey;"><b>{{j.ven_info.ven_busname}}</b></p>
							<p class= "p-0">{{j.service_info.service.service_name}}</p>
						</div>
					</div>
					{% endif %}
					{% endfor %}
					
				</div>
				{% endfor %}
				<a href= "/cus/bookinghistory#cusactivebooking" class= "nav-link text-end">View All Active Bookings</a>
				{% else %}
				<div class= "col">
					<p class= "text-center"><i>You have not book any services yet.</i></p>
				</div>
				{% endif %}
				
			</div>
			<div class= "row mt-1">
				<div class= "col text-end">
					<button data-bs-toggle= "modal" data-bs-target= "#book_modal" class= "btn brownbutton" type= "button">Make new booking</button>
				</div>
			</div>
		</div>
	</div>

	<!-- This div will contain some other information I do not have yet -->
	<div class= "row my-4" id= "user_homebookinginfo_row">
		<div class= "col">
			<h3 class= "text-center">Recent Bookings</h3>
			<table class= "table">
				<thead>
					<th>S/N</th>
					<th class= "d-none d-sm-table-cell">Vendor</th>
					<th>Service</th>
					<th>Date Booked</th>
					<th class= "d-none d-sm-table-cell">Time</th>
					<th>Status</th>
				</thead>
				<tbody>
					{% for i in bks %}
					<tr onclick= "show_info({{i.booking_id}});">
						<td>{{ loop.index }}</td>
						<td class= "d-none d-sm-table-cell">{{ i.ven_info.ven_busname }}</td>
						<td>{{ i.service_info.service.service_name }}</td>
						<td>{{ i.calender_date.strftime('%a, %d %B %Y') }}</td>
						<td class= "d-none d-sm-table-cell">{{ i.calender_time }}</td>
						<td>{{ i.confirmation_status.name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<a href= "/cus/bookinghistory" class= "nav-link text-end">View All Bookings</a>
		</div>
	</div>
</div>



{% include 'customer/cus_bookservices_modal.html' %}
{% include 'customer/cus_bookinginfo_modal.html' %}

{% endblock body %}

{% block internal_script %}
<script type= "text/javascript">
function getlist(){
	//This function contains ajax code for ensuring dynamic appearance of possible results when searching for vendors or services
	var search= $('#cbmsearch').val();
	var sentdata= {"sinput":search};
	$.ajax({
		url:"/ajax/searchoption",
		type:"get",
		dataType:"text",
		data:sentdata,
		success:function(rsp){
			$('#cbmvenserv').html(rsp);
		},
		error:function(err){ console.log(err) }
	});
}

$(document).ready(function(){
	//This caters for changing of profile picture
	$('#chpprofile').change(function(){
		var form= document.getElementById('hppic_change');
		var formdata= new FormData(form)

		$.ajax({
			url:"/cus/ajax/changepicture/",
			type:"post",
			dataType:"json",
			data:formdata,
			success:function(rsp){
				var locate= "{{url_for('static', filename='uploads/images/')}}" + rsp.profile;
				$('#customer_profilepic').attr('src', locate);

			},
			error:function(err){ console.log(err) },
			cache:false,
			processData:false,
			contentType:false

		});
	});

	$('#hpsavechange').click(function(){
		var form= document.getElementById('hppic_change');
		var formdata= new FormData(form)
		formdata.append('custid', '{{c.cus_id}}');

		$.ajax({
			url:"/cus/ajax/savepicture/",
			type:"post",
			dataType:"json",
			data:formdata,
			success:function(rsp){
				if (rsp.profile != ""){
					var locate2= "{{url_for('static', filename='uploads/images/')}}" + rsp.profile;
					$('#customer_profilepic').attr('src', locate2);
				}

				var msg= "<span class= 'alert alert-success'>Picture Changed Successfully</span>";
				$('#hpchangesuccess').html(msg);
			},
			error:function(err){ console.log(err) },
			cache:false,
			processData:false,
			contentType:false

		});
	});
});
</script>

{% endblock internal_script %}