{%  extends 'customer/cbase.html' %}

{% block internal_styles %}
<style type= "text/css">
.catsearch{ color:black; }
</style>
{% endblock internal_styles %}

{% block body %}
	<!-- Title Div -->
	<div class= "row mb-3 mb-sm-3 mt-sm-2 welcome">
		<div class= "col">
			<h2 class= "text-center">Booking</h2>
		</div>
	</div>

	{% set msg = get_flashed_messages() %}
	{% for i in msg %}
	<p class= "alert alert-success mb-3 mb-sm-3">{{i}}</p>
	{% endfor %}


	<!-- Pending Bookings -->
	<div class= "row blueback">
		<div class= "col">
			<h3 class= "text-center mb-3" id= "pending">Pending Bookings</h3>
			{% if pbook != [] %}
			<table class= "table">
				<thead>
					<th>S/N</th>
					<th class= "hidesm">Vendor</th>
					<th>Service</th>
					<th class= "hidemd">Description</th>
					<th>Date Booked</th>
					<th class= "hidemd">Time</th>
					<th>Cancel</th>
				</thead>
				<tbody>
					{% for i in pbook%}
					<tr onclick= "show_info({{i.booking_id}});">
						<td>{{ loop.index }}</td>
						<td class= "hidesm">{{ i.ven_info.ven_busname }}</td>
						<td>{{ i.service_info.service.service_name }}</td>
						<td class= "hidemd">{{ i.service_info.short_desc }}</td>
						<td>{{ i.calender_date.strftime('%a, %d %B %Y') }}</td>
						<td class= "hidemd">{{ i.calender_time }}</td>
						<td><a href= "/cus/bookinghistory/cancelpending/{{ i.booking_id }}" onclick= "return confirm('Are you sure you want to cancel this booking?')" class= "btn btn-danger">Cancel</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p class= "text-center"><i>No pending bookings</i></p>
			{% endif %}
			<button data-bs-toggle= "modal" data-bs-target= "#book_modal" class= "btn brownbutton offset-5 offset-sm-9 offset-lg-10" type= "button">Make new booking</button>
		</div>
	</div>



	<!-- Active Bookings -->
	<div class= "row blueback my-5" id= "cusactivebooking">
		<div class= "col">
			<h3 class= "text-center mb-3" id= "pending">Active Bookings</h3>
			{% if abook != [] %}
			<table class= "table">
				<thead>
					<th>S/N</th>
					<th class= "hidesm">Vendor</th>
					<th>Service</th>
					<th class= "hidemd">Description</th>
					<th>Date Booked</th>
					<th class= "hidemd">Time</th>
					<th>Cancel</th>
				</thead>
				<tbody>
					{% for i in abook%}
					<tr onclick= "show_info({{i.booking_id}});">
						<td>{{ loop.index }}</td>
						<td class= "hidesm">{{ i.ven_info.ven_busname }}</td>
						<td>{{ i.service_info.service.service_name }}</td>
						<td class= "hidemd">{{ i.service_info.short_desc }}</td>
						<td>{{ i.calender_date.strftime('%a, %d %B %Y') }}</td>
						<td class= "hidemd">{{ i.calender_time }}</td>
						<td><a href= "/cus/bookinghistory/cancelpending/{{ i.booking_id }}" onclick= "return confirm('Are you sure you want to cancel this booking?')" class= "btn btn-danger">Cancel</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p class= "text-center"><i>No active bookings</i></p>
			{% endif %}
			<button data-bs-toggle= "modal" data-bs-target= "#book_modal" class= "btn brownbutton offset-5 offset-sm-9 offset-lg-10" type= "button">Make new booking</button>
		</div>
	</div>


	<!-- Booking History -->
	<div class= "row blueback mt-3 mb-sm-3">
		<div class= "col">
			<h3 class= "text-center mb-3" id= "booking_history">Booking History</h3>
			{% if rcbook != [] %}
			<table class= "table">
				<thead>
					<th>S/N</th>
					<th>Vendor</th>
					<th>Service</th>
					<th class= "hidesm">Date Booked</th>
					<th class= "hidemd">Time</th>
					<th>Status</th>
					<th class= "d-none d-sm-table-cell">Delete</th>
				</thead>
				<tbody>
					{% for i in rcbook %}
					<tr onclick= "show_info({{i.booking_id}});">
						<td>{{ loop.index }}</td>
						<td>{{ i.ven_info.ven_busname }}</td>
						<td>{{ i.service_info.service.service_name }}</td>
						<td class= "hidesm">{{ i.calender_date.strftime('%a, %d %B %Y') }}</td>
						<td class= "hidemd">{{ i.calender_time }}</td>
						<td>{{ i.confirmation_status.name }}</td>
						<td class= "d-none d-sm-table-cell">
						{% if i.confirmation_status.name == "rejected" %}
						<a href= "/cus/bookinghistory/deleterejected/{{ i.booking_id }}" onclick= "return confirm('Are you sure you want to delete this booking?')" class= "btn btn-danger btn-sm">Delete</a>
						{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p class= "text-center"><i>No booking history</i></p>
			{% endif %}
		</div>
	</div>
</div>


{% include 'customer/cus_bookservices_modal.html' %}
{% include 'customer/cus_bookinginfo_modal.html' %}
{% endblock body %}

{% block internal_script %}
<script type= "text/javascript">
function getlist(){
	//This function contains ajax code for ensuring dynamic appearance of possible results when searching for vendors or services
	var search= $('#cbmsearch').val();
	var sentdata= {"sinput":search};
	$.ajax({
		url:"/ajax/searchoption",
		type:"get",
		dataType:"text",
		data:sentdata,
		success:function(rsp){
			$('#cbmvenserv').html(rsp);
		},
		error:function(err){ console.log(err) }
	});
}
</script>

{% endblock internal_script %}