<div class= "modal" id= "bookinginfo_modal">
	<div class= "modal-dialog modal-lg">
		<div class= "modal-content">
			<div class= "modal-header">
				<h3 class= "text-center">Booking Information</h3>
			</div>
			<div class= "modal-body">
				<div class= "row">
					<div class= "col">
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Vendor</b></p>
							<p id= "bkvenname"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Vendor Phone 1</b></p>
							<p id= "bkvenph1"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Vendor Phone 2</b></p>
							<p id= "bkvenph2"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Service Booked</b></p>
							<p id= "bksername"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Service Description(short)</b></p>
							<p id= "bksershort"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Service Location</b></p>
							<p id= "bkserlocate"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Vendor Address</b></p>
							<p id= "bkvenadd"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Booked Date</b></p>
							<p id= "bkbdate"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Booked Time</b></p>
							<p id= "bkbtime"></p>
						</div>
						<div class= "mb-2 ps-3" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>Service Description(long)</b></p>
							<p id= "bkserlong"></p>
						</div>
						<div class= "mb-2 ps-3 pt-2" style= "background-color: rgba(0,0,0,0.04);">
							<p><b>My Notes</b></p>
							<p id= "bknotes"></p>
						</div>
					</div>
				</div>
			<div class= "modal-footer">
				<button data-bs-dismiss= "modal" class= "btn btn-danger">close</button>
			</div>
		</div>
	</div>
</div>