<p class= "text-center"><b>Date</b></p>
					<div class= " row rounded mx-1 mb-3" style= "background-color: #F8F7FF;">
						<div class= "col">
							<p style= "border-bottom: 1px solid grey;">09:00</p>
							<p>Booked Service here</p>
						</div>
					</div>
					<div class= " row rounded mx-1 mb-3" style= "background-color: #F8F7FF;">
						<div class= "col">
							<p style= "border-bottom: 1px solid grey;">10:00</p>
							<p>Booked Service here</p>
						</div>
					</div>
					<div class= " row rounded mx-1 mb-3" style= "background-color: #F8F7FF;">
						<div class= "col">
							<p style= "border-bottom: 1px solid grey;">11:00</p>
							<p>Booked Service here</p>
						</div>
					</div>
					<div class= " row rounded mx-1 mb-3" style= "background-color: #F8F7FF;">
						<div class= "col">
							<p style= "border-bottom: 1px solid grey;">12:00</p>
							<p>Booked Service here</p>
						</div>
					</div>
					<div class= " row rounded mx-1 mb-3" style= "background-color: #F8F7FF;">
						<div class= "col">
							<p style= "border-bottom: 1px solid grey;">13:00</p>
							<p>Booked Service here</p>
						</div>
					</div>
					<div class= " row rounded mx-1 mb-3" style= "background-color: #F8F7FF;">
						<div class= "col">
							<p style= "border-bottom: 1px solid grey;">14:00</p>
							<p>Booked Service here</p>
						</div>
					</div>
					<div class= " row rounded mx-1 mb-3" style= "background-color: #F8F7FF;">
						<div class= "col">
							<p style= "border-bottom: 1px solid grey;">15:00</p>
							<p>Booked Service here</p>
						</div>
					</div>
					<div class= " row rounded mx-1 mb-3" style= "background-color: #F8F7FF;">
						<div class= "col">
							<p style= "border-bottom: 1px solid grey;">16:00</p>
							<p>Booked Service here</p>
						</div>
					</div>