{% if session.get('cust_id') == None and session.get('vend_id') == None %}
{% extends 'general/base_home.html' %}
{% elif session.get('cust_id') != None %}
{% extends 'customer/cbase.html' %}
{% elif session.get('vend_id') != None %}
{% extends 'vendor/vbase.html' %}
{% endif %}


{% block body%}
<div container-fluid>
<div class= "row p-5">
	<div class= "col-6 text-center d-flex align-items-center">
		<p><b>Oops! Something just went wrong. Our servers might be overloaded. Don't worry though, we will fix it soon! Come back later or continue browsing the rest of our site.</b></p>
	</div>
	<div class= "col-6 ">
		<img src= "{{url_for('static', filename='images/gears.png')}}" alt= "detective photo" id= "error500" class= "img-fluid">
	</div>
</div>
</div>
{% endblock body %}