<!-- From c_home -->
<!-- <div class= "col m-2 p-0 calen_day rounded" id= "cal_2">
					{% include 'customer/main_calender.html' %}
				</div>
				<div class= "col m-2 p-0 calen_day rounded d-none d-md-block" id= "cal_3">
					{% include 'customer/main_calender.html' %}
				</div>
				<div class= "col m-2 p-0 calen_day rounded d-none d-lg-block" id= "cal_4">
					{% include 'customer/main_calender.html' %}
				</div>
				<div class= "col m-2 p-0 calen_day rounded d-none d-lg-block" id= "cal_5">
					{% include 'customer/main_calender.html' %}
				</div> -->






<!-- From cus_vendor and vendor home -->
<!-- <div class= "col m-2 calen_day p-0 rounded" id= "cal_2">
					{% include 'vendor/main_calender.html' %}
				</div>
				<div class= "col m-2 calen_day d-none d-md-block p-0 rounded" id= "cal_3">
					{% include 'vendor/main_calender.html' %}
				</div>
				<div class= "col m-2 calen_day d-none d-md-block p-0 rounded" id= "cal_4">
					{% include 'vendor/main_calender.html' %}
				</div>
				<div class= "col m-2 calen_day d-none d-lg-block p-0 rounded" id= "cal_5">
					{% include 'vendor/main_calender.html' %}
				</div> -->